{% extends 'flatpages/default.html' %}


{% block title %}
Comment
{% endblock title %}


{% block content %}
<h2>Объявление: {{post.title}}</h2>
<h3>{{ post.text }}</h3>

{% if user.is_authenticated %}
<h4>Добавить отклик</h4>
   
    <form method="post" style="...">
          {% csrf_token %}
            <div style="...">
                {{ replay_form.text }}
            </div>
            <button type="submit" class="btn btn-primary">Отправвить отклик</button>
    </form>
{% else %}
    <p>Авторизуйтесь, чтобы оставить отклик</p>
    <a  class="btn btn_primary", href="{% url 'profile' %}">Войти</a>
{% endif %}

{% if post.сomment_set.all %}
    {% for reply in post.comment_set.all %}
    <div style="margin-top: 10px">
    <h4>Все отклики</h4>
    <p>Автор: {{ reply.comment_author}} Текст отклика  {{ comment.text}}</p>
    </div>
    {% endfor %}
{% endif %}



<h3>{{ post.text }}</h3>


{% endblock content %}
